<section class="home" id="home">
    <div class="group-text">
        <span class="full-name animate-block">
            <span class="block"></span>
            <span class="animate-opacity text-green">dorian marechal</span>
        </span>
        <h1>
            <span class="animate-block" style="--delay: 1s;">
                <span class="block"></span>
                <span class="animate-opacity" style="--delayFadeIn: 1.4s;">développeur web </span>
            </span>
            <br>
            <span class="text-green animate-block" style="--delay: 2s;">
                <span class="block"></span>
                <span class="animate-opacity" style="--delayFadeIn: 2.2s;">full-stack</span>
            </span>
        </h1>
        <hr>
        <p class="animate-block" style="--delay: 3s;">
            <span class="block"></span>
            <span class="animate-opacity" style="--delayFadeIn: 3.4s;">
                Bonjour ! 👋
                <br>
                Passionné par la technologie, je conçois des solutions
                digitales sur mesure qui répondent à vos besoins et
                mettent en valeur votre vision
            </span>
            
        </p>
        <div class="link-social">
            <a href="" class="icon animate-block" style="--delay: 4s;">
                <span class="block"></span>
                <span class="animate-opacity" style="--delayFadeIn: 4.4s;">
                    <img src="{{asset('linkedin.svg')}}" alt="Profil linkedin Dorian Marechal">
                </span>
            </a>

            <a href="" class="icon animate-block" style="--delay: 5s;">
                <span class="block"></span>
                <span class="animate-opacity" style="--delayFadeIn: 5.4s;">
                    <img src="{{asset('github.svg')}}" alt="Profil github Dorian Marechal">
                </span>
            </a>
        </div>
    </div>
    <div class="group-image">
        <img src="{{asset('profil-picture.svg')}}" alt="Photo de profil Dorian Marechal">
    </div>
</section>