{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
  {% include "includes/loading.html.twig" %}
  {% include "includes/navbar.html.twig" %}
    <main>

    </main>
  {% include "includes/footer.html.twig" %}
{% endblock %}
