<header>
    <div role="menubar" class="navbar">
        <div class="nav-container">
            <div class="logo">
                <img src="{{asset('logo.svg')}}" alt="Logo Dorian Marechal développeur web">
            </div>

            {# Les style du boutton son géré en css et non avec tailwind #}
            <button class="btn-mobile" id="btn-mobile"> 
                <span class="sr-only">open menu</span>
                <span class="bar bar1"></span>
                <span class="bar bar2"></span>
                <span class="bar bar3"></span>
                <span class="bar bar4"></span>
            </button>

            <div class="navbar-nav" id="navbar-nav">
                <nav class="nav">
                    <ul class="list-nav">
                        <li>
                            <a class="text-spin" href="">
                                <span class="text-spin-container">
                                    <span data-letter="a">a</span>
                                    <span data-letter="c">c</span>
                                    <span data-letter="c">c</span>
                                    <span data-letter="u">u</span>
                                    <span data-letter="e">e</span>
                                    <span data-letter="i">i</span>
                                    <span data-letter="l">l</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="text-spin" href="">
                                <span class="text-spin-container">
                                    <span data-letter="à">à</span>
                                    <span data-letter=" ">&nbsp;</span>
                                    <span data-letter="p">p</span>
                                    <span data-letter="r">r</span>
                                    <span data-letter="o">o</span>
                                    <span data-letter="p">p</span>
                                    <span data-letter="o">o</span>
                                    <span data-letter="s">s</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="text-spin" href="">
                                 <span class="text-spin-container">
                                    <span data-letter="s">s</span>
                                    <span data-letter="e">e</span>
                                    <span data-letter="r">r</span>
                                    <span data-letter="v">v</span>
                                    <span data-letter="i">i</span>
                                    <span data-letter="c">c</span>
                                    <span data-letter="e">e</span>
                                    <span data-letter="s">s</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="text-spin" href="">
                                 <span class="text-spin-container">
                                    <span data-letter="e">e</span>
                                    <span data-letter="x">x</span>
                                    <span data-letter="p">p</span>
                                    <span data-letter="é">é</span>
                                    <span data-letter="r">r</span>
                                    <span data-letter="i">i</span>
                                    <span data-letter="e">e</span>
                                    <span data-letter="n">n</span>
                                    <span data-letter="c">c</span>
                                    <span data-letter="e">e</span>
                                    <span data-letter="s">s</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="text-spin" href="">
                                <span class="text-spin-container">
                                    <span data-letter="c">c</span>
                                    <span data-letter="o">o</span>
                                    <span data-letter="m">m</span>
                                    <span data-letter="p">p</span>
                                    <span data-letter="é">é</span>
                                    <span data-letter="t">t</span>
                                    <span data-letter="e">e</span>
                                    <span data-letter="n">n</span>
                                    <span data-letter="c">c</span>
                                    <span data-letter="e">e</span>
                                    <span data-letter="s">s</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="text-spin" href="">
                                <span class="text-spin-container">
                                    <span data-letter="p">p</span>
                                    <span data-letter="o">o</span>
                                    <span data-letter="r">r</span>
                                    <span data-letter="t">t</span>
                                    <span data-letter="f">f</span>
                                    <span data-letter="o">o</span>
                                    <span data-letter="l">l</span>
                                    <span data-letter="i">i</span>
                                    <span data-letter="o">o</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="text-spin" href="">
                                <span class="text-spin-container">
                                    <span data-letter="c">c</span>
                                    <span data-letter="o">o</span>
                                    <span data-letter="n">n</span>
                                    <span data-letter="t">t</span>
                                    <span data-letter="a">a</span>
                                    <span data-letter="c">c</span>
                                    <span data-letter="t">t</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>