// fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Couleurs de base
:root{
    --white: rgba(255, 255, 255, 1);
    --white-100: rgba(248, 250, 252, 1);
    --black: rgba(0, 0, 0, 1);
    --black-10: rgba(24, 24, 27, 1);
    --black-60: rgba(24, 24, 27, 1);
    --transparent: rgba(255, 255, 255, 1);
}

.light{
    // Thème clair
    --bg-base: rgba(255, 255, 255, 1);
    --bg-40: rgba(255, 255, 255, 1);
    --bg-secondary: rgba(246, 246, 246, 1);

    --primary-100: rgba(225, 251, 234, 1);
    --primary-200: rgba(170, 240, 196, 1);
    --primary-300: rgba(115, 226, 163, 1);
    --primary-400: rgba(60, 203, 127, 1);
    --primary-500: rgba(22, 179, 100, 1);
    --primary-600: rgba(9, 146, 80, 1);
    --primary-700: rgba(8, 116, 67, 1);
    --primary-800: rgba(9, 92, 55, 1);
    --primary-900: rgba(3, 72, 42, 1);

    // Gris
    --gray-50: rgba(249, 250, 251, 1);
    --gray-100: rgba(248, 250, 252, 1);
    --gray-200: rgba(234, 236, 240, 1);
    --gray-300: rgba(208, 213, 221, 1);
    --gray-400: rgba(152, 162, 179, 1);
    --gray-500: rgba(102, 112, 133, 1);
    --gray-600: rgba(71, 84, 103, 1);
    --gray-700: rgba(52, 64, 84, 1);
    --gray-800: rgba(29, 41, 57, 1);
    --gray-900: rgba(16, 24, 40, 1);

    // Rouge
    --red-100: rgba(255, 238, 237, 1);
    --red-200: rgba(254, 205, 202, 1);
    --red-300: rgba(253, 162, 155, 1);
    --red-400: rgba(249, 112, 102, 1);
    --red-500: rgba(240, 68, 56, 1);
    --red-600: rgba(217, 45, 32, 1);
    --red-700: rgba(180, 35, 24, 1);
    --red-800: rgba(145, 32, 24, 1);
    --red-900: rgba(96, 20, 9, 1);

    --warning-50: rgba(255, 250, 235, 1);
    --warning-100: rgba(255, 246, 219, 1);
    --warning-200: rgba(254, 231, 181, 1);
    --warning-300: rgba(253, 216, 138, 1);
    --warning-400: rgba(251, 186, 100, 1);
    --warning-500: rgba(246, 153, 54, 1);
    --warning-600: rgba(225, 124, 39, 1);
    --warning-700: rgba(198, 98, 33, 1);
    --warning-800: rgba(168, 80, 33, 1);
    --warning-900: rgba(134, 64, 29, 1);

    --info-50: rgba(235, 244, 255, 1);
    --info-100: rgba(219, 232, 255, 1);
    --info-200: rgba(186, 212, 254, 1);
    --info-300: rgba(144, 188, 253, 1);
    --info-400: rgba(97, 158, 251, 1);
    --info-500: rgba(59, 130, 246, 1);
    --info-600: rgba(41, 106, 222, 1);
    --info-700: rgba(35, 85, 183, 1);
    --info-800: rgba(34, 68, 144, 1);
    --info-900: rgba(30, 50, 101, 1);

    --melon-50: rgba(255, 244, 247, 1);
    --melon-100: rgba(255, 233, 237, 1);
    --melon-200: rgba(255, 204, 213, 1);
    --melon-300: rgba(254, 171, 184, 1);
    --melon-400: rgba(253, 139, 153, 1);
    --melon-500: rgba(249, 105, 122, 1);
    --melon-600: rgba(232, 75, 100, 1);
    --melon-700: rgba(196, 57, 78, 1);
    --melon-800: rgba(161, 51, 68, 1);
    --melon-900: rgba(124, 40, 52, 1);

    --yellow-50: rgba(255, 253, 235, 1);
    --yellow-100: rgba(255, 251, 217, 1);
    --yellow-200: rgba(254, 243, 177, 1);
    --yellow-300: rgba(253, 230, 138, 1);
    --yellow-400: rgba(250, 202, 80, 1);
    --yellow-500: rgba(245, 158, 11, 1);
    --yellow-600: rgba(217, 129, 6, 1);
    --yellow-700: rgba(180, 98, 5, 1);
    --yellow-800: rgba(146, 80, 5, 1);
    --yellow-900: rgba(112, 61, 3, 1);
}

.dark{
    // Couleurs de base
    --bg-base: rgb(5, 5, 5);
    --bg-40: --black-10;
    --bg-secondary: --black-10;

    // Couleurs primaires (inversées)
    --primary-100: rgba(3, 72, 42, 1);
    --primary-200: rgba(9, 92, 55, 1);
    --primary-300: rgba(8, 116, 67, 1);
    --primary-400: rgba(9, 146, 80, 1);
    --primary-500: rgba(22, 179, 100, 1);
    --primary-600: rgba(60, 203, 127, 1);
    --primary-700: rgba(115, 226, 163, 1);
    --primary-800: rgba(170, 240, 196, 1);
    --primary-900: rgba(225, 251, 234, 1);

    // Gris (inversés)
    --gray-50: rgba(16, 24, 40, 1);
    --gray-100: rgba(29, 41, 57, 1);
    --gray-200: rgba(52, 64, 84, 1);
    --gray-300: rgba(71, 84, 103, 1);
    --gray-400: rgba(102, 112, 133, 1);
    --gray-500: rgba(152, 162, 179, 1);
    --gray-600: rgba(208, 213, 221, 1);
    --gray-700: rgba(234, 236, 240, 1);
    --gray-800: rgba(248, 250, 252, 1);
    --gray-900: rgba(249, 250, 251, 1);

    // Rouge (inversés)
    --red-100: rgba(96, 20, 9, 1);
    --red-200: rgba(145, 32, 24, 1);
    --red-300: rgba(180, 35, 24, 1);
    --red-400: rgba(217, 45, 32, 1);
    --red-500: rgba(240, 68, 56, 1);
    --red-600: rgba(249, 112, 102, 1);
    --red-700: rgba(253, 162, 155, 1);
    --red-800: rgba(254, 205, 202, 1);
    --red-900: rgba(255, 238, 237, 1);

    // Avertissement (inversés)
    --warning-50: rgba(134, 64, 29, 1);
    --warning-100: rgba(168, 80, 33, 1);
    --warning-200: rgba(198, 98, 33, 1);
    --warning-300: rgba(225, 124, 39, 1);
    --warning-400: rgba(246, 153, 54, 1);
    --warning-500: rgba(251, 186, 100, 1);
    --warning-600: rgba(253, 216, 138, 1);
    --warning-700: rgba(254, 231, 181, 1);
    --warning-800: rgba(255, 246, 219, 1);
    --warning-900: rgba(255, 250, 235, 1);

    // Information (inversés)
    --info-50: rgba(30, 50, 101, 1);
    --info-100: rgba(34, 68, 144, 1);
    --info-200: rgba(35, 85, 183, 1);
    --info-300: rgba(41, 106, 222, 1);
    --info-400: rgba(59, 130, 246, 1);
    --info-500: rgba(97, 158, 251, 1);
    --info-600: rgba(144, 188, 253, 1);
    --info-700: rgba(186, 212, 254, 1);
    --info-800: rgba(219, 232, 255, 1);
    --info-900: rgba(235, 244, 255, 1);

    // Melon (inversés)
    --melon-50: rgba(124, 40, 52, 1);
    --melon-100: rgba(161, 51, 68, 1);
    --melon-200: rgba(196, 57, 78, 1);
    --melon-300: rgba(232, 75, 100, 1);
    --melon-400: rgba(249, 105, 122, 1);
    --melon-500: rgba(253, 139, 153, 1);
    --melon-600: rgba(254, 171, 184, 1);
    --melon-700: rgba(255, 204, 213, 1);
    --melon-800: rgba(255, 233, 237, 1);
    --melon-900: rgba(255, 244, 247, 1);

    // Jaune (inversés)
    --yellow-50: rgba(112, 61, 3, 1);
    --yellow-100: rgba(146, 80, 5, 1);
    --yellow-200: rgba(180, 98, 5, 1);
    --yellow-300: rgba(217, 129, 6, 1);
    --yellow-400: rgba(245, 158, 11, 1);
    --yellow-500: rgba(250, 202, 80, 1);
    --yellow-600: rgba(253, 230, 138, 1);
    --yellow-700: rgba(254, 243, 177, 1);
    --yellow-800: rgba(255, 251, 217, 1);
    --yellow-900: rgba(255, 253, 235, 1);
}